@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* create variables for the page styling */
:root {
  --main-color: #f25f3a;
  --blue: hsl(228, 39%, 23%);
  --dark-blue: hsl(233, 12%, 13%);
  --orange-50: hsl(13, 100%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --common-padding: 30px 80px;
}
body {
  background-color: var(--orange-50);
  font-family: "Be Vietnam Pro", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
}
header a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 500;
  margin: 0px 10px;
}
.cta-link {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}
section {
  padding: var(--common-padding);
}

#intro {
  display: flex;
  align-items: center;
  gap: 50px;
}
.text-side {
  flex: 1;
}
.image-side {
  flex: 1;
}
.image-side img {
  width: 100%;
}
h1 {
  color: var(--dark-blue);
  font-size: 40px;
}

/* features section */

#features {
  display: flex;
  gap: 30px;
}
.features-intro {
  flex: 1;
}
.features-list {
  flex: 1;
}
.features-list li {
  display: flex;
  align-items: start;
  gap: 15px;
}
.features-list .tag {
  background-color: var(--main-color);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
}
h2 {
  color: var(--dark-blue);
}
#features p {
  color: #a7a2a2;
}
#features h3 {
  margin: 0px;
}
/* cta section */
#call-to-action {
  background-color: var(--main-color);
  color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#call-to-action h2 {
  font-size: 30px;
  color: var(--gray-50);
}
#call-to-action .cta-link {
  background-color: white;
  color: var(--main-color);
}

/* TESTIMONIALS */

#testimonials {
  padding: 30px 0px;
  text-align: center;
}

#testimonials .cards {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0px;
  overflow-y: scroll;
}

#testimonials .cards::-webkit-scrollbar {
  /* hiding the scrollbar */
  display: none;
}
/* for browser compatibility */
#testimonials .cards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#testimonials .cards li {
  min-width: 400px;
}
#testimonials .cards img {
  width: 60px;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}
footer ion-icon {
  color: white;
  font-size: 20px;
}
footer > nav a {
  display: block;
  margin-bottom: 20px;
}
footer form input {
  padding: 10px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  background-color: white;
}
footer form button[type="submit"] {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0px;
}
#mobile-menu {
  display: none;
  background-color: transparent;
  border: none;
}
/* desktop above */
/* tablet */
@media (max-width: 768px) {
  #mobile-menu {
    display: block;
  }
  header nav {
    display: none;
  }
  :root {
    --common-padding: 20px 40px;
  }
  h1 {
    font-size: 30px;
  }
}

/* mobile */
@media (max-width: 486px) {
  :root {
    --common-padding: 20px;
  }
  header .cta-link {
    display: none;
  }
  #intro {
    flex-direction: column-reverse;
  }
  #features {
    flex-direction: column;
  }
  #testimonials .cards li {
    min-width: 320px;
  }
  footer{
    flex-direction: column;
  }
}
